<!DOCTYPE html>
<html ng-app="llksMonitor">

<head>
  <meta charset="UTF-8">
  <title>LLKS Monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="LLKS Monitor">
  <link rel="stylesheet" href="/css/llks-monitor.css">
  <!--[if gt IE 9]><!-->
  <script concat="angular" dest="/js/angular.js"></script>
  <script concat="angular" production="/js/vendor/angular.min.js"></script>
  <script concat="angular"
    production="/js/vendor/angular-route.min.js"></script>
  <script concat="vendors" dest="/js/vendors.js"></script>
  <script concat="vendors" real-src="node_modules/socket.io/
    node_modules/socket.io-client/dist/socket.io.min.js"></script>
  <script uglify="llks-monitor" dest="/js/llks-monitor.js"></script>
  <script uglify="llks-monitor" production="/js/llks-monitor.js"></script>
  <script uglify="llks-monitor" real-src="public/js/templates.js"></script>

  <script development src="/js/vendor/angular.js"></script>
  <script development src="/js/vendor/angular-route.js"></script>
  <script development src="/js/llks-monitor.js"></script>
  <script development src="/socket.io/socket.io.js"></script>
  <script development src="http://localhost:35729/livereload.js"></script>
  <!--<![endif]-->
  <script type="text/ng-template" id="index">
    <div id="wrap">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#/">LLKS Monitor</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li ng-if="!User.Username"><a href="/#/login">Login</a></li>
                <li ng-if="User.Username" class="dropdown"
                  ng-class="{open:dropdown}">
                  <a href ng-click="dropdown=!dropdown">{{User.Username}}
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href ng-click="logout()">Log out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div id="content" class="container" ng-view></div>
    </div>
    <footer>
      <div class="footer container">
        Copyright &copy; 2014 <a href="http://cgh.io/">cgh.io</a>
      </div>
    </footer>
  </script>
  <script type="text/ng-template" id="main">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Status
          </div>
          <table class="table">
            <thead ng-if="miners && miners.length">
              <tr>
                <th><a href ng-click="sort('account')">Account</a></th>
                <th><a href ng-click="sort('ip')">IP</a></th>
                <th><a href ng-click="fsort('total')">Total</a></th>
                <th><a href ng-click="fsort('today')">Today</a></th>
                <th><a href ng-click="fsort('yesterday')">Yesterday</a></th>
                <th><a href ng-click="sort('servertime')">Server Time</a></th>
                <th><a href ng-click="sort(speedCompare, 'speed')">Speed</a></th>
                <th><a href ng-click="sort('status')">Status</a></th>
              </tr>
            </thead>
            <tbody ng-if="!miners.length">
              <tr>
                <td class="text-center">No miners at the moment.</td>
              </tr>
            </tbody>
            <tbody>
              <tr ng-repeat="miner in miners|orderBy:mOrder:mOrderReverse"
                class="bg-{{speedBg(miner)}}">
                <td ng-bind="miner.account"></td>
                <td ng-bind="miner.ip"></td>
                <td ng-bind="miner.total"></td>
                <td ng-bind="miner.today"></td>
                <td ng-bind="miner.yesterday"></td>
                <td ng-bind="miner.servertime"></td>
                <td ng-bind="miner.speed"></td>
                <td ng-bind="miner.status"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="alert alert-dismissable alert-{{statusClass}}"
          ng-show="status" ng-switch on="status">
          <span ng-switch-when="loading">Loading...</span>
          <span ng-switch-when="success">Successfully created.</span>
          <span ng-switch-default ng-bind="status"></span>
        </div>
        <form ng-submit="create()">
          <div class="panel panel-default">
            <div class="panel-heading">
              Accounts
            </div>
            <table class="table">
              <thead ng-if="accounts.length">
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="account in accounts">
                  <td ng-bind="account.name"></td>
                  <td ng-switch on="account.updated">
                    <span ng-switch-when="false">Expired</span>
                    <span ng-switch-default seconds-ago="account.updated"
                      seconds-ago-to="account.secondsAgo"
                      ng-show="account.secondsAgo">
                      updated {{account.secondsAgo}} secs ago
                    </span>
                  </td>
                  <td>
                  <div class="btn-group">
                    <a class="btn btn-default" ng-click="updateName(account)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default"
                      ng-click="delete(accounts, $index)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </div>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td><input type="text" class="form-control" id="name"
                    placeholder="Name" ng-model="name"></td>
                  <td><input type="text" class="form-control" id="code"
                    placeholder="Code" ng-model="code"></td>
                  <td>
                    <div class="btn-group">
                      <button type="submit" class="btn btn-default"
                        ng-disabled="!name || !code">Add</button>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </form>
        <p>
          Go to and log in to <a href="https://jiaoyi.yunfan.com/"
          target="_blank">LLKS</a>, then press <code>Control-Shift-J</code>
          (Windows) or <code>Command-Alt-J</code> (Mac), and then enter this
          line of code:
          <pre>copy(document.cookie.match(/ntts_kb_session_id=(.+?);/)[1])</pre>
        </p>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="login">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="alert alert-dismissable alert-{{statusClass}}"
          ng-show="status" ng-switch on="status">
          <span ng-switch-when="loading">Logging in...</span>
          <span ng-switch-when="success">You are now logged in.</span>
          <span ng-switch-default ng-bind="status"></span>
        </div>
        <form ng-submit="login()" ng-show="status!='success'">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
              placeholder="Username" ng-model="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
              placeholder="Password" ng-model="password">
          </div>
          <button type="submit" class="btn btn-default"
            ng-disabled="shouldLoginDisable()">Login</button>
        </form>
      </div>
    </div>
  </script>
</head>

<body>
  <!--[if lte IE 9]>
    <div class="ie-warnings">
      <b>Your browser is out of date.</b>
      <br>
      Please upgrade to IE 10 or use Chrome or Firefox browser.
      <br>
      Download Chrome from:
      <a href="https://www.google.com/chrome/">Google</a> |
      <a href="http://dl.pconline.com.cn/download/51614-1.html">
        PCOnline (Windows)
      </a>
      <br>
      Download Firefox from:
      <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla</a>
      <br>
      You can also view this page on your iPhone or Android.
    </div>
  <![endif]-->
</body>

</html>
