<!DOCTYPE html>
<html ng-app="llksMonitor">

<head>
  <meta charset="UTF-8">
  <title>LLKS Monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="LLKS Monitor">
  <link rel="stylesheet" href="/css/llks-monitor.css">
  <!--[if gt IE 9]><!-->
  <script concat="angular" dest="/js/angular.js"></script>
  <script concat="angular" production="/js/vendor/angular.min.js"></script>
  <script concat="angular"
    production="/js/vendor/angular-route.min.js"></script>
  <script uglify="vendors" dest="/js/vendors.js"></script>
  <script uglify="vendors" production="/js/vendor/fastclick.js"></script>
  <script uglify="vendors" real-src="node_modules/socket.io/
    node_modules/socket.io-client/dist/socket.io.js"></script>
  <script uglify="llks-monitor" dest="/js/llks-monitor.js"></script>
  <script uglify="llks-monitor" production="/js/llks-monitor.js"></script>
  <script uglify="llks-monitor" real-src="public/js/templates.js"></script>
  <script uglify="llks-monitor" real-src="public/js/i18n.js"></script>
  <script development src="/js/vendor/angular.js"></script>
  <script development src="/js/vendor/angular-route.js"></script>
  <script development src="/js/vendor/fastclick.js"></script>
  <script development src="/js/llks-monitor.js"></script>
  <script development src="/js/i18n.js"></script>
  <script development src="/socket.io/socket.io.js"></script>
  <script development src="http://localhost:35729/livereload.js"></script>
  <script>
    llksMonitor.factory('ASSETS', [function() {
      return {/*%ASSETS%*/};
    }]);
  </script>
  <!--<![endif]-->
  <script type="text/ng-template" id="index">
    <div id="wrap">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle"
                ng-click="navbar=!navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#/" close="navbar,dropdown"
                i18n="header:LLKS Monitor"></a>
            </div>
            <div class="collapse navbar-collapse" ng-class="{in:navbar}"
              id="navbar">
              <ul class="nav navbar-nav">
                <li navbar-link><a href="/#/history" close="navbar,dropdown"
                  i18n="header:History"></a></li>
                <li navbar-link><a href="/#/help" close="navbar,dropdown"
                  i18n="header:Help"></a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a class="btn-group btn-group-xs clearfix">
                    <button type="button" class="btn btn-default"
                      ng-class="{active:CURRENTLANG===code}"
                      ng-repeat="(code, text) in LANGS"
                      ng-click="setLang(code)" ng-bind="text"></button>
                  </a>
                </li>
                <li ng-show="!User.Username"><a href="/#/login"
                  close="navbar">
                  <span class="glyphicon glyphicon-log-in"></span>
                  <span i18n="header:Login"></span>
                </a></li>
                <li ng-show="User.Username" class="dropdown"
                  ng-class="{open:dropdown}">
                  <a href ng-click="dropdown=!dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    {{User.Username}}
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/#/myaccount" close="navbar,dropdown">
                      <span class="glyphicon glyphicon-cog"></span>
                      <span i18n="header:My account"></span>
                    </a></li>
                    <li class="divider"></li>
                    <li><a href close="navbar,dropdown" ng-click="logout()">
                      <span class="glyphicon glyphicon-log-out"></span>
                      <span i18n="header:Log out"></span>
                    </a></li>
                  </ul>
                </li>
              </ul>
              <div class="navbar-right"></div>
            </div>
          </div>
        </nav>
      </header>
      <div id="content" class="container" ng-view></div>
    </div>
    <footer>
      <div class="footer container">
        <span i18n="footer:Copyright"></span> &copy; 2014
        <a href="http://cgh.io/" target="_blank">cgh.io</a>
        |
        <a href="https://github.com/caiguanhao/llks-monitor" target="_blank"
          i18n="footer:View source code"></a>
      </div>
    </footer>
  </script>
  <script type="text/ng-template" id="main">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading btn-group-xs">
            <a class="btn btn-default btn-sm pull-right"
              ng-class="{active:accountEditsEnabled}"
              ng-click="accountEditsEnabled=!accountEditsEnabled">
              <span class="glyphicon glyphicon-pencil"></span>
              <span i18n="account:Enable Edits"></span>
            </a>
            <span i18n="account:Accounts"></span>
          </div>
          <table class="table table-slim table-hover table-account">
            <thead ng-show="accounts.length">
              <tr>
                <th><a href ng-click="toggleShow()"><span class="glyphicon
                  glyphicon-eye-open"></span></a></th>
                <th><a href ng-click="asort('name')"
                  i18n="account:Name"></a></th>
                <th class="noneXS"><a href ng-click="asort('miners')"
                  i18n="account:Miners"></a></th>
                <th><a href ng-click="asort('speed')"
                  i18n="account:Speed"></a></th>
                <th class="noneXS"><a href ng-click="asort('total')"
                  i18n="account:Total"></a></th>
                <th class="noneSM"><a href ng-click="asort('today')"
                  i18n="account:Today"></a></th>
                <th class="noneXS"><a href ng-click="asort('yesterday')"
                  i18n="account:Yesterday"></a></th>
                <th class="noneXS"><a href ng-click="asort('sold')"
                  i18n="account:Sold"></a></th>
                <th class="noneSM"><a href ng-click="asort('unsold')"
                  i18n="account:Unsold"></a></th>
                <th class="noneXS"><a href ng-click="asort('price')"
                  i18n="account:Price"></a></th>
                <th><a href ng-click="asort('unsold')"
                  i18n="account:Worth"></a></th>
                <th i18n="account:Updated" ng-show="!accountEditsEnabled"></th>
                <th i18n="account:Actions" ng-show="accountEditsEnabled"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="account in accounts|orderBy:aOrder:aOrderReverse">
                <td><input type="checkbox" ng-checked="isHidden(account._id)"
                  ng-click="toggleHidden(account._id)"></td>
                <td ng-click="toggleShow(account._id)"><a href
                  ng-bind="account.name"></a></td>
                <td ng-bind="account.minersOnline + ' / ' + account.miners"
                  class="noneXS"></td>
                <td ng-bind="account.speedText"></td>
                <td ng-bind="account.total" class="noneXS"></td>
                <td ng-bind="account.today" class="noneSM"></td>
                <td ng-bind="account.yesterday" class="noneXS"></td>
                <td ng-bind="account.sold" class="noneXS"></td>
                <td ng-bind="account.unsold" class="noneSM"></td>
                <td ng-bind="account.price|currency:'￥'" class="noneXS"></td>
                <td ng-bind="unsoldWorth(account)|currency:'￥'"></td>
                <td ng-show="!accountEditsEnabled" ng-switch on="account.updated">
                  <span ng-switch-when="false" i18n="account:Expired"></span>
                  <span ng-switch-default seconds-ago="account.updated"
                    i18n="{'seconds-ago-template': '{}s ago'}"></span>
                </td>
                <td ng-show="accountEditsEnabled">
                  <div class="btn-group btn-group-xs">
                    <a class="btn btn-default"
                      i18n="{title: 'account:Edit name'}"
                      ng-if="account.updated" ng-click="updateName(account)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default"
                      i18n="{title: 'account:Edit code'}"
                      ng-if="!account.updated" ng-click="updateCode(account)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default"
                      i18n="{title: 'account:Delete account'}"
                      ng-click="delete(accounts, $index)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </div>
                </td>
              </tr>
              <tr ng-show="!accounts||!accounts.length">
                <td class="notice" i18n="No accounts at the moment."></td>
              </tr>
            </tbody>
            <tfoot ng-show="accountEditsEnabled">
              <tr>
                <td colspan="13" class="text-center">
                  <form class="form-inline input-group-sm" ng-submit="create()">
                    <input type="text" class="form-control" id="name"
                      i18n="{placeholder: 'account:Name'}" ng-model="name"
                      ng-show="accountEditsEnabled">
                    <input type="text" class="form-control" id="code"
                      i18n="{placeholder: 'account:Code'}" ng-model="code"
                      ng-show="accountEditsEnabled">
                    <div class="btn-group btn-group-sm"
                      ng-show="accountEditsEnabled">
                      <button type="submit" class="btn btn-default"
                        ng-disabled="!name || !code">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        <span i18n="account:Add"></span>
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ng-switch on="status">
            <span i18n="miner:Status"></span>:
            <span ng-switch-when="connected" i18n="miner:Connected"></span>
            <span ng-switch-when="disconnected"
              i18n="miner:Disconnected"></span>
            <span ng-switch-default i18n="miner:Unknown"></span>
          </div>
          <table class="table table-slim table-hover">
            <thead ng-if="miners && miners.length">
              <tr>
                <th><a href ng-click="sort('account')"
                  i18n="miner:Account"></a></th>
                <th><a href ng-click="sort('ip')"
                  i18n="miner:IP"></a></th>
                <th class="noneSM"><a href ng-click="sort('total')"
                  i18n="miner:Total"></a></th>
                <th><a href ng-click="sort('today')"
                  i18n="miner:Today"></a></th>
                <th class="noneXS"><a href ng-click="sort('yesterday')"
                  i18n="miner:Yesterday"></a></th>
                <th class="noneXS"><a href ng-click="sort('servertime')"
                  i18n="miner:Server Time"></a></th>
                <th><a href ng-click="sort(speedCompare, 'speed')"
                  i18n="miner:Speed"></a></th>
                <th class="noneXS"><a href ng-click="sort('status')"
                  i18n="miner:Status"></a></th>
              </tr>
            </thead>
            <tbody ng-if="!miners.length">
              <tr>
                <td class="notice" colspan="8"
                  i18n="No miners at the moment."></td>
              </tr>
            </tbody>
            <tbody>
              <tr ng-repeat="miner in miners|orderBy:mOrder:mOrderReverse"
                class="{{miner.bg}}">
                <td>
                  <span ng-bind="miner.account" class="accountName"></span>
                </td>
                <td ng-if="miner.ipreal">
                  <a href="llksmonitor:{{miner.ipreal}}"
                    ng-bind="miner.ip"></a></td>
                <td ng-if="!miner.ipreal" ng-bind="miner.ip"></td>
                <td ng-bind="miner.total" class="noneSM"></td>
                <td ng-bind="miner.today"></td>
                <td ng-bind="miner.yesterday" class="noneXS"></td>
                <td ng-bind="miner.servertimeText" class="noneXS"></td>
                <td ng-bind="miner.speed"></td>
                <td ng-bind="miner.status" class="noneXS"></td>
              </tr>
            </tbody>
            <tfoot ng-show="miners && miners.length">
              <tr>
                <td colspan="2">
                  <span ng-repeat="type in ['success','warning','danger','active']">
                    <span class="legend {{type}}"></span>
                    <span ng-bind="count[type]"></span>
                  </span>
                </td>
                <td class="noneSM" ng-bind="count.total"></td>
                <td ng-bind="count.today"></td>
                <td class="noneXS" ng-bind="count.yesterday"></td>
                <td class="noneXS"></td>
                <td ng-bind="count.speed"></td>
                <td class="noneXS"
                  ng-bind="count.online + ' / ' + miners.length"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="help">
    <div class="row">
      <div class="col-sm-12"  ng-switch on="CURRENTLANG">
        <div ng-switch-default>
          <h2>Add account</h2>
          <p>
            Open Google Chrome browser, go to and log in to
            <a href="https://jiaoyi.yunfan.com/" target="_blank">LLKS</a>,
            then press <code>Control-Shift-J</code> (Windows) or
            <code>Command-Alt-J</code> (Mac), and then enter this line of code:
            <pre>copy(/ntts_kb_session_id=(.+?);/.exec(document.cookie)[1])</pre>
            Click Enable Edit button above, then paste the text in your
            clipboard to the 'code' text box to add account.
          </p>
          <p>
            Don't click the log out link in the web page. You can log out the
            web page by entering this line of code:
            <pre>document.cookie='ntts_kb_session_id=;expires='+new Date(0)+
';domain=.jiaoyi.yunfan.com;path=/;';window.location.reload();</pre>
          </p>
          <h2>Open Remote Desktop from browser</h2>
          <p>
            Right click Notepad and choose Run as Administrator, copy and
            paste the following content and save it to
            <code>C:\llksMonitor.js</code>
            <pre>var ws = new ActiveXObject("WScript.Shell")
ws.Exec("mstsc.exe /v:" + WScript.Arguments(0).replace(/^.+?:/, ""))</pre>
            Then create another new file in Notepad, copy and paste the
            following content and save it to <code>C:\llksMonitor.reg</code>
          </p>
          <p>
            <pre>Windows Registry Editor Version 5.00
[HKEY_CLASSES_ROOT\llksmonitor]
"URL Protocol"=""
@="URL:LLKS Monitor Protocol"
[HKEY_CLASSES_ROOT\llksmonitor\shell]
[HKEY_CLASSES_ROOT\llksmonitor\shell\open]
[HKEY_CLASSES_ROOT\llksmonitor\shell\open\command]
@="wscript.exe \"C:\\llksMonitor.js\" %1"</pre>
            Double click the .reg file to open and import it to Windows
            Registry. After that, you can delete the .reg file, but you
            shouldn't delete the .js file as it is necessary to open
            Remote Desktop.
          </p>
        </div>
        <div ng-switch-when="zh">
          <h2>添加账户</h2>
          <p>
            使用Google浏览器，前往并登录<a href="https://jiaoyi.yunfan.com/"
            target="_blank">流量矿石</a>交易系统，然后按下
            <code>Control-Shift-J</code> (Windows) 或
            <code>Command-Alt-J</code> (Mac) 按键，复制如下代码，并按回车：
            <pre>copy(/ntts_kb_session_id=(.+?);/.exec(document.cookie)[1])</pre>
            点击启用编辑按钮，然后粘贴你剪贴板上的文本到“代码”文本框添加账户。
          </p>
          <p>
            不要按流量矿石上的退出登录按钮，你可以像刚才一样，通过如下代码退出登录：
            <pre>document.cookie='ntts_kb_session_id=;expires='+new Date(0)+
';domain=.jiaoyi.yunfan.com;path=/;';window.location.reload();</pre>
          </p>
          <h2>从浏览器打开“远程桌面连接”程序</h2>
          <p>
            右击记事本，选择以管理员身份运行，复制粘贴下面代码，并保存到
            <code>C:\llksMonitor.js</code>
            <pre>var ws = new ActiveXObject("WScript.Shell")
ws.Exec("mstsc.exe /v:" + WScript.Arguments(0).replace(/^.+?:/, ""))</pre>
            接着新建新的文件，复制粘贴下面内容，然后保存到
            <code>C:\llksMonitor.reg</code>
          </p>
          <p>
            <pre>Windows Registry Editor Version 5.00
[HKEY_CLASSES_ROOT\llksmonitor]
"URL Protocol"=""
@="URL:LLKS Monitor Protocol"
[HKEY_CLASSES_ROOT\llksmonitor\shell]
[HKEY_CLASSES_ROOT\llksmonitor\shell\open]
[HKEY_CLASSES_ROOT\llksmonitor\shell\open\command]
@="wscript.exe \"C:\\llksMonitor.js\" %1"</pre>
            双击打开.reg文件并将其导入到Windows注册表。
            之后你可以删除.reg文件，但请勿删除用于启动远程桌面连接程序的.js文件。
          </p>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="history">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-right btn-group btn-group-xs">
              <a class="btn btn-default btn-sm"
                ng-repeat="r in ranges"
                ng-class="{active:range===r}"
                ng-click="setRange(r)">
                <span>{{r}}d</span>
              </a>
            </div>
            <span i18n="history:History"></span>
            <span ng-if="dataDate">({{dataDate}})</span>
            <span ng-show="loading" class="glyphicon glyphicon-repeat spin"></span>
          </div>
          <table class="table table-slim table-striped" ng-switch on="type">
            <thead ng-switch-when="history" ng-show="history && history.length">
              <tr>
                <th><a href ng-click="sort('date')"
                  i18n="history:Date"></a></th>
                <th><a href ng-click="sort('price')"
                  i18n="history:Price"></a></th>
                <th class="noneXS" i18n="history:Previous"></th>
                <th><a href ng-click="sort('diff')"
                  i18n="history:Difference"></a></th>
                <th><a href ng-click="sort('volume')"
                  i18n="history:Volume"></a></th>
                <th class="noneXS"><a href ng-click="sort('volumeDiff')"
                  i18n="history:Difference"></a></th>
              </tr>
            </thead>
            <thead ng-switch-when="day" ng-show="history && history.length">
              <tr>
                <th><a href ng-click="sort('date')"
                  i18n="history:Time"></a></th>
                <th><a href ng-click="sort('price')"
                  i18n="history:Price"></a></th>
                <th><a href ng-click="sort('volume')"
                  i18n="history:Volume"></a></th>
              </tr>
            </thead>
            <tbody ng-show="!history.length">
              <tr>
                <td class="notice" i18n="No history at the moment."></td>
              </tr>
            </tbody>
            <tbody ng-show="history.length">
              <tr ng-repeat="his in history|orderBy:hOrder:hOrderReverse">
                <td ng-bind="his.dateText"></td>
                <td>￥<span ng-bind="his.price"></span></td>
                <td ng-if="his._price !== undefined" class="noneXS">
                  ￥<span ng-bind="his._price"></span></td>
                <td ng-if="his.diff == 0">
                  <span class="glyphicon glyphicon glyphicon-minus"></span>
                </td>
                <td ng-if="his.diff !== undefined && his.diff != 0"
                  class="text-{{his.increase&&'success'||'danger'}}">
                  <span class="glyphicon
                    glyphicon-chevron-{{his.increase&&'up'||'down'}}"></span>
                  ￥<span ng-bind="his.diffAbs"></span>
                  (<span ng-bind="his.diffPercent"></span>%)
                </td>
                <td ng-bind="his.volumeText"></td>
                <td ng-if="his.volumeDiff == 0" class="noneXS">
                  <span class="glyphicon glyphicon glyphicon-minus"></span>
                </td>
                <td ng-if="his.volumeDiff !== undefined && his.volumeDiff != 0"
                  class="noneXS text-{{his.volumeIncrease&&'success'||'danger'}}">
                  <span class="glyphicon
                    glyphicon-chevron-{{his.volumeIncrease&&'up'||'down'}}"></span>
                  <span ng-bind="his.volumeDiffPercent"></span>%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="myaccount">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3 i18n="My account"></h3>
        <table class="table">
          <tbody>
            <tr>
              <th i18n="my:Name"></th>
              <td ng-bind="my.username"></td>
            </tr>
            <tr>
              <th i18n="my:Created At"></th>
              <td ng-bind="my.created_at|date:'yyyy-MM-dd HH:mm:ss'"></td>
            </tr>
            <tr>
              <th i18n="my:Updated At"></th>
              <td ng-bind="my.updated_at|date:'yyyy-MM-dd HH:mm:ss'"></td>
            </tr>
            <tr>
              <th i18n="my:Last Logged In At"></th>
              <td>
                <div ng-repeat="llia in my.last_logged_in_at"
                  ng-bind="llia|date:'yyyy-MM-dd HH:mm:ss'"></div>
              </td>
            </tr>
            <tr>
              <th i18n="my:Password Updated At"></th>
              <td ng-bind="my.password_updated_at|date:'yyyy-MM-dd HH:mm:ss'">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <textarea class="form-control" rows="5" ng-model="iplist"
                  i18n="{placeholder: 'my:List of IP addresses'}"></textarea>
              </td>
            </tr>
            </tr>
            <tr>
              <td colspan="2">
                <button type="submit" class="btn btn-default"
                  ng-click="saveIPList()"
                  ng-disabled="shouldSaveIPAddressesDisable()">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span i18n="my:Save IP Addresses"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="password" class="form-control" id="password"
                  i18n="{placeholder: 'my:Old Password'}" ng-model="password">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="password" class="form-control" id="password"
                  i18n="{placeholder: 'my:New Password'}"
                  ng-model="newpassword">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="password" class="form-control" id="password"
                  i18n="{placeholder: 'my:Re-type New Password'}"
                  ng-model="retypenewpassword">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button type="submit" class="btn btn-default"
                  ng-click="changePassword()"
                  ng-disabled="shouldChangePasswordDisable()">
                  <span class="glyphicon glyphicon-pencil"></span>
                  <span i18n="my:Change Password"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="login">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="alert alert-dismissable alert-{{statusClass}}"
          ng-show="status" ng-switch on="status">
          <span ng-switch-when="loading" i18n="login:Logging in..."></span>
          <span ng-switch-when="success" i18n="login:You are now logged in.
            You will be redirected to home page."></span>
          <span ng-switch-default ng-bind="status"></span>
        </div>
        <form ng-submit="login()"
          ng-show="status!='success'&&status!='loading'">
          <div class="form-group">
            <label for="username" i18n="login:Username"></label>
            <input type="text" class="form-control" id="username"
              i18n="{'placeholder, title': 'login:Username'}"
              ng-model="username" autofocus="autofocus">
          </div>
          <div class="form-group">
            <label for="password" i18n="login:Password"></label>
            <input type="password" class="form-control" id="password"
              i18n="{'placeholder, title': 'login:Password'}"
              ng-model="password">
          </div>
          <button type="submit" class="btn btn-default"
            ng-disabled="shouldLoginDisable()">
            <span class="glyphicon glyphicon-log-in"></span>
            <span i18n="login:Login"></span>
          </button>
        </form>
      </div>
    </div>
  </script>
</head>

<body>
  <!--[if lte IE 9]>
    <div class="ie-warnings">
      <b>Your browser is out of date.</b>
      <br>
      Please upgrade to IE 10 or use Chrome or Firefox browser.
      <br>
      Download Chrome from:
      <a href="https://www.google.com/chrome/">Google</a> |
      <a href="http://dl.pconline.com.cn/download/51614-1.html">
        PCOnline (Windows)
      </a>
      <br>
      Download Firefox from:
      <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla</a>
      <br>
      You can also view this page on your iPhone or Android.
    </div>
  <![endif]-->
</body>

</html>
